In [1]:
import pandas as pd
import numpy as np

Naive Bayes classification model is based on bayes theoram of conditional probability.

The formula for which is: 

$p(A|B) = \frac{p(B|A).p(A)}{p(B)}$

The above is read as the **_probability of event A occuring given that event B has alreay occured_**

In [2]:
data = pd.read_csv('heart-disease-data/heart.csv')

In [4]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

For our algorithm to work we only need discrete varaibles so we will drop any continous varaibles

In [8]:
data.drop(["age", "trestbps", "chol", "thalach", "oldpeak", "slope"],axis = 1 ,inplace=True)

In [10]:
data.head()

   sex  cp  fbs  restecg  exang  ca  thal  target
0    1   3    1        0      0   0     1       1
1    1   2    0        1      0   0     2       1
2    0   1    0        0      0   0     2       1
3    1   1    0        1      0   0     2       1
4    0   0    0        1      1   0     2       1

Lets build a helper function to calculate the conditional probabilities of individual inputs

In [34]:
#calculating conditional probability

def get_probabilities(data_frame, n,target, given):
    
    focused_data = data[[target, given]]

    targets_unique = data[target].unique
    inputs_unique = data[given].unique
    
    groups = focused_data.groupby(by = [target, given]).size().reset_index()
    
    print(groups[0]/ n)

In [35]:
n = len(data)

In [36]:
get_probabilities(data, n, "target", "sex")

0    0.079208
1    0.376238
2    0.237624
3    0.306931
Name: 0, dtype: float64